* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #FF7300;
    color: #ffffff;
    padding: 15px;
    text-align:center;
    font-size:20px;
    font-family: sans-serif;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #0003CC;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0047CC;
}
.aside {
    background-color: #0003CC;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.middlebutton{
    text-align:center;
}
.btnmdl{
    background:#FF7300;
}
.footer {
    background-color: #0003CC;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.jquerybody{
    background-image: url("https://imgs.tuts.dragoart.com/how-to-draw-a-bullet-train_1_000000002247_5.jpg")
}

.marketingbody{
    background-image: url("https://i.pinimg.com/originals/f0/b8/4f/f0b84fb6dfd4ea8628c75d03c2061d09.jpg")
}

.regform{
    background-image: url("https://imgs.tuts.dragoart.com/how-to-draw-a-bullet-train_1_000000002247_5.jpg") 
}

.infoform{
  font-size: 30px; 
}

#regbtn{
    background-color:black;
    margin:0;
    color:white;
}

.fifty{
    margin:auto;
    width:50%;
}

.marketb{
    margin:auto;
    width:50%;
}

.marketcontent{
    text-align:center;
}

.schhead{
    text-align:center;
}

.schfoot{
    text-align:center;
    background-image: url("");
}

.schbtndiv{
    text-align:center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
